soapProject/calculator.wsdl

<definitions name="CalculatorService"
  targetNamespace="http://example.com/calculator"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://example.com/calculator"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <message name="sumRequest">
    <part name="a" type="xsd:int"/>
    <part name="b" type="xsd:int"/>
  </message>
  <message name="sumResponse">
    <part name="result" type="xsd:int"/>
  </message>
  <message name="subtractRequest">
    <part name="a" type="xsd:int"/>
    <part name="b" type="xsd:int"/>
  </message>
  <message name="subtractResponse">
    <part name="result" type="xsd:int"/>
  </message>
  <message name="multiplyRequest">
    <part name="a" type="xsd:int"/>
    <part name="b" type="xsd:int"/>
  </message>
  <message name="multiplyResponse">
    <part name="result" type="xsd:int"/>
  </message>
  <message name="divideRequest">
    <part name="a" type="xsd:int"/>
    <part name="b" type="xsd:int"/>
  </message>
  <message name="divideResponse">
    <part name="result" type="xsd:int"/>
  </message>
  <portType name="CalculatorPortType">
    <operation name="sum">
      <input message="tns:sumRequest"/>
      <output message="tns:sumResponse"/>
    </operation>
    <operation name="subtract">
      <input message="tns:subtractRequest"/>
      <output message="tns:subtractResponse"/>
    </operation>
    <operation name="multiply">
      <input message="tns:multiplyRequest"/>
      <output message="tns:multiplyResponse"/>
    </operation>
    <operation name="divide">
      <input message="tns:divideRequest"/>
      <output message="tns:divideResponse"/>
    </operation>
  </portType>
  <binding name="CalculatorBinding" type="tns:CalculatorPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="sum">
      <soap:operation soapAction="http://example.com/calculator/sum"/>
      <input>
        <soap:body use="encoded" namespace="http://example.com/calculator" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://example.com/calculator" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="subtract">
      <soap:operation soapAction="http://example.com/calculator/subtract"/>
      <input>
        <soap:body use="encoded" namespace="http://example.com/calculator" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://example.com/calculator" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="multiply">
  <soap:operation soapAction="http://example.com/calculator/multiply"/>
  <input>
    <soap:body use="encoded" namespace="http://example.com/calculator" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
    <soap:body use="encoded" namespace="http://example.com/calculator" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
</operation>
<operation name="divide">
  <soap:operation soapAction="http://example.com/calculator/divide"/>
  <input>
    <soap:body use="encoded" namespace="http://example.com/calculator" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
    <soap:body use="encoded" namespace="http://example.com/calculator" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
</operation>
</binding>
  <service name="CalculatorService">
    <port name="CalculatorPort" binding="tns:CalculatorBinding">
      <soap:address location="http://localhost:8000/calculator"/>
    </port>
  </service>
</definitions>







